$qb_greywhite: #ececec; 
$qb_blue: #1b74ff;
$qb_light_grey: #CBCBCB;
$qb_grey: #565759;
$white: #FFFFFF;
$black: #000;
$cont_grey: #a2a2a2;

$white_op60: rgba(255, 255, 255, 0.6);
$white_op90: rgba(255, 255, 255, 0.9);
$black_op20: rgba(0, 0, 0, 0.2);
$black_op60: rgba(0, 0, 0, 0.6);